/*  Во имя Отца и Сына и Святаго Духа. Аминь. */

/* "-=-=-=-=-=-=-=-=-=- */
/* "суббота, 10 апреля 2021 г. 14:58:33 */
/* "-=-=-=-=-=-=-=-=-=-" */

/* =================== */

/* project variables */

/* =================== */

.close:hover {
	color: rgb(255, 107, 107);
	transition: 0.3s;
}

.close {
	position: fixed;
	top: 0.7rem;
	right: 1.2rem;
	rotate: 45deg;
	font-size: 2em;
	color: #dfc2c2;
	cursor: pointer;
}

.first-preview {
	margin: 14vh 21%;
	display: none;
	position: fixed;
	align-items: center;
	justify-content: center;
	border-radius: 0.3rem;
	box-shadow: #743d1a82 0px 1px 10px 7px;
	top: 0px;
	z-index: 111;
	width: 50%;
	min-height: 33%;
	font-size: x-large;
	color: #695319;
	background-image: url("data:image/svg+xml,%3Csvg height='100%25' stroke-miterlimit='10' style='fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;' version='1.1' viewBox='0 0 33 55' width='100%25' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3CclipPath id='TextBounds'%3E%3Crect height='80.1657' width='50.9259' x='-0.289135' y='7.1766'/%3E%3C/clipPath%3E%3Cpath clip-path='url(%23TextBounds)' d='M21.9341 19.6132L17.8489 20.2241C17.6992 19.8208 17.5015 19.5372 17.2559 19.3736C17.0103 19.2099 16.6871 19.1348 16.2863 19.1484C15.8068 19.1646 15.4592 19.2695 15.2436 19.4631C15.028 19.6567 14.9251 19.8966 14.9347 20.1829C14.943 20.4262 15.0504 20.6376 15.2571 20.8169C15.6261 21.134 16.4772 21.5101 17.8104 21.9452C19.716 22.5687 21.0485 23.1972 21.808 23.8308C22.5605 24.4718 22.9549 25.329 22.9912 26.4026C23.0125 27.0325 22.8923 27.6116 22.6307 28.1399C22.3691 28.6683 21.936 29.2114 21.3315 29.7692C21.7248 30.1715 22.0199 30.5807 22.2167 30.9969C22.4135 31.413 22.521 31.893 22.5394 32.437C22.5646 33.1813 22.3967 33.8857 22.0358 34.5499C21.6749 35.2142 21.0895 35.7552 20.2795 36.1731C19.4696 36.591 18.3704 36.8234 16.9819 36.8703C16.0944 36.9003 15.3027 36.8518 14.607 36.7249C13.9112 36.5979 13.3352 36.4096 12.8789 36.1599C12.4226 35.9102 12.0437 35.6166 11.7421 35.2793C11.4404 34.942 11.2127 34.6165 11.0588 34.3028C10.9049 33.9891 10.7615 33.5622 10.6286 33.0222L14.6512 32.467C14.9265 32.9808 15.2329 33.3538 15.5704 33.5861C15.9078 33.8183 16.3163 33.9263 16.7959 33.9101C17.2897 33.8934 17.6562 33.7664 17.8954 33.529C18.1346 33.2916 18.2485 33.0047 18.2372 32.6683C18.2275 32.382 18.071 32.0971 17.7676 31.8136C17.3461 31.4266 16.2341 30.9106 14.4317 30.2657C12.6293 29.6208 11.4193 28.9612 10.8018 28.287C10.1842 27.6129 9.86231 26.8857 9.83595 26.1055C9.81515 25.49 9.95523 24.9174 10.2562 24.3877C10.5572 23.858 11.085 23.3082 11.8396 22.7381C11.461 22.3496 11.1829 21.9649 11.0052 21.584C10.8275 21.203 10.7306 20.7728 10.7144 20.2932C10.6936 19.6777 10.8195 19.1092 11.0921 18.5876C11.3646 18.0661 11.7283 17.6436 12.1832 17.3201C12.638 16.9966 13.1029 16.7587 13.5778 16.6066C14.2229 16.3985 15.0571 16.2771 16.0807 16.2425C17.4477 16.1963 18.4736 16.2853 19.1583 16.5094C19.843 16.7334 20.4088 17.0959 20.8557 17.5967C21.3025 18.0975 21.662 18.7697 21.9341 19.6132ZM13.8644 24.1314C13.5089 24.6379 13.3362 25.0414 13.3463 25.342C13.3526 25.5281 13.4189 25.6871 13.5452 25.819C13.7533 26.0412 14.2571 26.318 15.0565 26.6493L19.2526 28.3669C19.5583 27.8693 19.7061 27.4738 19.6962 27.1804C19.6882 26.9442 19.5845 26.7363 19.385 26.5567C19.0966 26.2942 18.2557 25.9016 16.8623 25.3791C15.4689 24.8565 14.4695 24.4406 13.8644 24.1314Z' id='Fill'/%3E%3C/defs%3E%3Cg id='Слой-1'%3E%3Cg opacity='.7'%3E%3Cuse fill='%23ffffff' stroke='none' xlink:href='%23Fill'/%3E%3Cmask height='112.829' id='StrokeMask' maskUnits='userSpaceOnUse' width='105.578' x='-36.365' y='-29.8543'%3E%3Crect fill='%23ffffff' height='112.829' stroke='none' width='105.578' x='-36.365' y='-29.8543'/%3E%3Cuse fill='%23000' fill-rule='evenodd' stroke='none' xlink:href='%23Fill'/%3E%3C/mask%3E%3Cuse fill='none' mask='url(%23StrokeMask)' stroke='%23faa1' stroke-linecap='butt' stroke-linejoin='round' stroke-width='14' xlink:href='%23Fill'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
		linear-gradient(0deg, #ffecd9, #fffe, #f9f4e7);
	/* background: linear-gradient(0deg, #ffecd9, #fffe, #f9f4e7); */
	background-repeat: no-repeat;
	background-position: right;
	/* background: linear-gradient(0deg, #ffecd9, #fffe, #f9f4e7); */
	padding: 1em;
	transform: translateY(-150%);
	animation: ani 0.22s forwards;
}

@keyframes ani {
	0% {
		transform: translateY(-150%);
	}
	100% {
		transform: translateY(0);
	}
}

:root {
	--kino-var: #e34234;
	--date-var: #ffd8d4;
	--seedday-var: #6fbf5f;
	--backgroгnd-color-fff2e4: #fff2e4;
}

@font-face {
	font-family: "Irmologion";
	font-display: auto;
	src: local("Clunya-IrmIEUcs"),
		url("https://a374ru.github.io/aprakos.ru/font/Clunya-IrmIEUcs.otf");
	font-weight: normal;
	font-style: normal;
}

h1 {
	margin: 110px 0px;
	text-align: center;
	font-size: 3em;
	color: rgb(0, 102, 255);
}

.memory-ol {
	color: #000000;
}

.red {
	color: var(--kino-var);
}

a:link {
	color: var(--kino-var, rgb(134, 72, 0));
	text-decoration: none;
}

a:visited {
	color: var(--kino-var, rgb(134, 72, 0));
	text-decoration: none;
}

.date {
	margin: 22px 33px 33px;
	font-size: 1.5em;
	line-height: 1.5em;
	/* date size */
	/* margin-left: 15px */
	color: #000000;
}

.dug a {
	color: #fffdfa;
}

.dugpre {
	color: #ffffff;
	background-color: var(--date-var);
	margin-right: 0px;
	padding: 4px 20px 2px 12px;
	border-radius: 20px 32px 27px 7px;
	/* font-weight: bold; */
}

.dugprePlusUngles {
	color: #dbdbdb;
	/* background-color: var(--date-var); */
	margin-right: 0px;
	padding: 1px 16px 1px 12px;
	border-radius: 7px 7px 7px 7px;
}

.gray {
	color: #999999;
}

.colorBlock {
	/* margin-right: 12px; */
	background-color: #c8ff94;
	-webkit-animation-name: example;
	/* Safari 4.0 - 8.0 */
	animation-name: example;
	animation-duration: 7s;
	animation-iteration-count: 1;
	/* width: auto; */
	box-shadow: 0px 0px 7px 2px #7f585854;
}

.seeddayON {
	color: #000000;
	/* background-color: var(--seedday-var); */
	margin-right: 0px;
	background-color: #e6ffbd;
	padding: 12px 8px 3px 10px;
	border-radius: 7px 7px 7px 7px;
	border-bottom: 4px solid var(--seedday-var);
	line-height: 2.5em;
	/* border-right: 40px solid transparent; */
	/* border-right: 110px solid #ec3504; */
}

.dug {
	color: #ffffff;
	z-index: 33;
	filter: blur(0px);
	background-color: var(--seedday-var);
	padding: 4px 16px 2px 12px;
	border-radius: 41px 1px 35px 32px;
	font-weight: bold;
}

.link-ancor a {
	color: #021458;
}

.name {
	margin: 52px 33px 33px;
	font-family: Irmologion;
	font-size: 2.5em;
	text-indent: 0px;
	color: var(--kino-var, red);
	text-transform: uppercase;
}

.abzac {
	margin: 22px 1px 33px;
	padding: 12px;
	font-family: Irmologion;
	font-size: 1.7em;
	color: #502c00;
}

.snoska {
	color: dimgrey;
	text-indent: 0px;
}

hr {
	border-width: 3px;
	border-top-color: #000000;
	border-bottom-color: #600000;
	opacity: 0.1;
}

.hr-1 {
	margin-left: 17px;
	width: 250px;
	border-top-color: var(--kino-var);
}

sup {
	font-size: 11px;
	font-weight: bold;
	color: var(--kino-var);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) and (orientation: portrait) {
	.abzac {
		margin: 3px 3px 23px 3px;
		/* font-family: Irmologion; */
		/* font-size: 1.3em */
	}

	.name {
		font-family: Irmologion;
		font-size: 1.7em;
	}

	.hr-1 {
		/* margin-left: 10px; */
		width: 240px;
		border-top-color: var(--kino-var);
	}

	.date {
		margin: auto;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
	.first-preview {
		margin: 12%;
		width: 64%;
		/* min-height: 50%; */
	}

	.abzac {
		/* font-family: Irmologion; */
		margin: auto;
		font-size: 1.7em;
	}

	.name {
		font-family: Irmologion;
		font-size: 2em;
	}

	.memory-ol a:visited {
		color: #000000;
	}
}

@media only screen and (min-device-width: 737px) and (max-device-width: 1024px) and (orientation: portrait) {
	.abzac {
		font-family: Irmologion;
		font-size: 1.7em;
	}

	.name {
		margin: 12px 13px 13px;
		font-family: Irmologion;
		font-size: 2.5em;
	}
}

@media only screen and (min-width: 1024px) and (max-device-width: 1752px) {
	.abzac {
		/* font-family: Irmologion; */
		font-size: 1.7rem;
	}

	.name {
		font-family: Irmologion;
		font-size: 3em;
	}

	.hr-1 {
		width: 300px;
	}

	sup {
		font-size: 22px;
	}
}

@media only screen and (min-width: 1752px) {
	.name {
		font-family: Irmologion;
		font-size: 3em;
	}

	.hr-1 {
		width: 77%;
	}

	sup {
		font-size: 1.2rem;
	}

	.abzac {
		font-family: Irmologion;
		/* margin: 77px 20px 55px 13px; */
		font-size: 1.8rem;
	}

	.date {
		margin: 42px 33px 33px;
		font-size: 1.5rem;
		/* date size */
		/* margin-left: 15px */
	}
}

/* Дополнительные стили */

/* Плавный скролл страницы*/
html {
	scroll-behavior: smooth;
}

/* Variables */
:root {
	--background-color-fff2e4: #fff2e4;
}

/*маскировка бага в лайтбоксе*/
.CSS_LAYOUT_COMPONENT {
	color: #fff0;
}

.post-body img {
	border-radius: 4px;
}

.dug a:visited {
	color: #ffffff;
}

.dug a:hover {
	color: #dadada;
}

blockquote {
	text-align: left;
	text-shadow: 0px 0px 14px #ffffff;
}

#comments {
	border-top: 3px dashed #f1dbce;
	padding: 3px;
}

.blogger {
	display: none;
}

a:hover .sedmica {
	color: #e34234;
	cursor: url("https://a374ru.github.io/aprakos.ru/izo/scrollTop.png"), n-resize;
}

/* Скрытие кнопки `Показать все` на странице результатов поиска */
.post-filter-message div:last-child {
	display: none;
}

/* Всплывающая подсказка */
/* .ttt { */
/*   display: inline-block; */
/*   position: relative; */
/*   text-indent: 0px; */
/* } */

.ttt:hover::after {
	content: attr(data-title);
	position: absolute;
	left: 0%;
	top: auto;
	/* Положение подсказки */
	z-index: 3;
	text-indent: 0px;
	width: auto;
	background: #202020;
	font-family: Arial, sans-serif;
	color: blanchedalmond;
	font-size: 55%;

	/* padding: 5px 10px; */
	/* border-radius: 3px; */
	/* box-shadow: 7px 7px #e3433480; */
}

.selected-verses {
	padding: 0px 7px;
	background: #fff4f4;
	border-radius: 7px;
}
